/* --- GOOGLE FONTS --- */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@400;700&display=swap"); /* --- NAV --- */
nav {
  background-color: #FFF;
  box-shadow: 0px 5px 5px #ccc;
}
nav li {
  font-size: 1.8em;
}
nav li a {
  text-decoration: none;
  color: #999;
}
nav li a:hover {
    color: #000;
    border-bottom: 3px solid #000;
}
#enlaceNav {
    color: #000;
    border-bottom: 3px solid #000;
}

/* --- RESET --- */
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
  }

/* --- HTML --- */
html {
    font-size: 62.5%;
  }
  
  /* --- BODY --- */
  body {
    background-color: #EEE;
  }
  
  img {
    width: 100%;
  }

.container {
    max-width: 1200px;
}

/* --- SECTION --- */
section {
    margin-top: 20px;
}
section h1 {
    font-size: 3em;
}
.equipos {
    height: 100px;
    box-shadow: 0px 0px 2px #BEBEBE;
    background-color: #FFF;
}
.boxEquipoSac:hover {
    background-color: #CC0005;
    box-shadow: 0px 0px 10px #888;
    color:#FFF;
    cursor: pointer;
}
.boxEquipoPnf:hover {
    background-color: #000;
    box-shadow: 0px 0px 10px #888;
    color:#FFF;
    cursor: pointer;
}
.boxEquipoLib:hover {
    background-color: #00488C;
    box-shadow: 0px 0px 10px #888;
    color:#FFF;
    cursor: pointer;
}
.boxEquipoCol:hover {
    background-color: #1A6401;
    box-shadow: 0px 0px 10px #888;
    color:#FFF;
    cursor: pointer;
}
.boxEquipoDef:hover {
    background-color: #5436AB;
    box-shadow: 0px 0px 10px #888;
    color:#FFF;
    cursor: pointer;
}
.boxEquipoItu:hover {
    background-color: #00914B;
    box-shadow: 0px 0px 10px #888;
    color:#FFF;
    cursor: pointer;
}
.boxEquipoKen:hover {
    background-color: #EFEF01;
    box-shadow: 0px 0px 10px #888;
    color: #FFF;
    cursor: pointer;
}
.boxEquipoPsc:hover {
    background-color: #FECB00;
    box-shadow: 0px 0px 10px #888;
    color: #FFF;
    cursor: pointer;
}
.boxEquipoPde:hover {
    background-color: #30A3F4;
    box-shadow: 0px 0px 10px #888;
    color: #FFF;
    cursor: pointer;
}

/* #EFEF01 - #FECB00 */
.imgEquipo {
    width: 50px;
    height: 50px;
}
.siglaEquipo {
    font-size: 1.5em;
    font-weight: bold;
}

.noticia {
    margin-top: 20px;
}
.carouselText {
    width: 100%;
    background-color: #000;
    font-size: 1.4em;
}
.carouselText h3 {
    font-size: 2em;
}
.titulo h1 {
    font-weight: 700;
}
.tituloSecundario h2 {
    font-size: 2.2em;
    font-weight: 700;
}
.box {
    border: 1px solid #000;
}

.card {
    box-shadow: 0px 0px 2px #BEBEBE;
}
.cardA {
    text-decoration: none;
    color: #000;
}
.card:hover {
    box-shadow: 0px 0px 10px #BEBEBE;
    color: #000;   
}
.card-title {
    font-weight: 700;
    font-size: 2em;
}
.card-text {
    font-size: 1.5em;
}
.cardBox {
    width: 585px;
}

/* --- PARTIDOS --- */
h3 span {
    font-weight: 700;
}
.partido {
    height: 60px;
    background-color: #FFF;
    border-bottom: 2px solid #CCC;
}
.fontPartidos {
    padding: 10px;
    background-color: #DDD;
    font-size: 2em;
    font-weight: 700;
}
.fontRes {
    font-size: 2em;
    font-weight: 700;
}
.infoPartido {
    height: 20px;
    font-size: 1.3em;
}
.resultado {
    max-width: 60px;
}

button {
    width: 20%;
    padding: 16px 0;
    background-color: #04aa6d;
    border: none;
    font-size: 1.5em;
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
}

/* --- DIV EMPTY --- */
#empty {
    width: 100%;
    height: 100px;
  }

/* --- FOOTER --- */
.footer {
    height: 80px;
    background-color: #00488C;
  }
  .footer p {
    color: #CCC;
    font-size: 1.5em;
  }
